@charset "utf-8";

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html {
  font: $font-size/$line-height $font-family-primary;
}

body {
  min-width: 320px;
  @mixin font-smoothing on;
  @mixin text-size-adjust on;
  text-rendering: optimizeLegibility;
  color: $font-color;
}

img,
svg {
  max-width: 100%;
  height: auto;
  backface-visibillity: hidden;
}

dl,
dt,
dd {  margin: 0; }
